html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{
	display: block;
}
body 
{
	line-height: 2;
}
ol, ul 
{
	list-style: none;
}
blockquote, q 
{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






/*My CSS*/

aside
{
	float: right;
	font-family: Helvetica, Arial, sans-serif;
	color: blue;

}

aside#noside 
{
	float: center;
}

body
{
	font-family: Helvetica, "MS Helvetica Neue", sans-serif;
	font-size: 11pt;
	color: #0B0719;
	margin-left: 5%;
	margin-right: 20%;

}

h1{
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14pt;
	color: #481948;
	font-weight: bold;
	position: relative;
	top: 5px;
	bottom: 5px;
}

h2{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12pt;
	color: #1b091b;
	position: relative;
	top: 5px;
	bottom: 10px;
}

footer{
	font-family: "MS Times Roman";
	color: #666666;
	font-size: 8pt;
}
body{
	background-color: #cccccc;
}

section#sidebar{
	float: left;
}
ol{
	list-style: disc;
	color: #361336;
	margin-left: 18px;
}
ul{
	list-style: square;
	color: red;
	margin-left: 18px;
}
.center{
	margin-right: 50%;
	margin-left: 0;
}
a:hover{
	color: red;
	background-color: green;
}
p:hover{
	color: blue;
}

.extraMargin{
	margin: 10px 0; 
}

table#first
 {
	position: relative;
	top: 0px;
	left: 25px;
	width: 25%;
	height: 30%;
	
}

.firstrow:nth-of-type(odd)
{
	color:blue;
}
.firstrow:nth-of-type(even)

{
	background-color: #ECF6CE;
}

thead
{
	background-color: white;
}

p:first-child
{
	color: orange;
}

p:nth-child(2)
{
	background: purple;
}

p:last-child
{
	background-color:green;

}
p:nth-last-child(1)

{
	border-width:10px; border-style: groove; border-color: red;

}
th, td {
	border: 2px solid black;
}
table#best
{
	background-color: #298A08;
	border: 2px solid black;
	width: 100%;
	height: 100px;
	text-align: center;
}
td#best {
	border: 2px solid black;
}

.bestrow {
	border: 2px solid black;
	background-color: yellow;
}

.bestcol:first-child {
	color: blue;

}

.bestcol:nth-child(3) {
	color: red;
	background-color: yellow;
}
.bestcol:last-child{
	background-color: red;
	}

.bestcol:nth-last-child(3) {
	background-color: gray;
}


.bestcol:first-of-type{
	background-color: purple;
	color: white;
}

.bestcol:last-of-type{
	color: white;
	}